<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>补充协议修改</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!--link rel="stylesheet" th:href="@{/layui/css/layui.css}" /-->
    <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.7.6/css/layui.css"/>
    <style>
      footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: white;
        padding-top: 10px;
      }
      .footer {
        height: 45px;
      }
      div.footer{
        padding-bottom: 15px;
      }
    </style>
    <!--script th:src="@{/layui/layui.js}"></script-->
    <script src="https://www.layuicdn.com/layui-v2.7.6/layui.js"></script>
  </head>
  <body>
    <div class="panel-body layui-bg-gray" style="padding: 0 30px;">
      <div class="layui-row layui-col-space15">
        <!-- 补充协议基本信息 -->
        <div class="layui-col-md12">
          <div id="base-info" class="layui-card">
            <div class="layui-card-header">补充协议基本信息</div>
            <div class="layui-card-body">
              <form class="layui-form layui-form-pane" lay-filter="edit">
                <div class="layui-form-item">
                  <label class="layui-form-label">协议ID</label>
                  <div class="layui-input-block">
                    <input type="text" name="id" class="layui-input" lay-verify="required" disabled>
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">协议名称</label>
                  <div class="layui-input-block">
                    <input type="text" name="name" placeholder="请输入合同名称" class="layui-input" lay-verify="required" lay-verType="tips">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">合同ID</label>
                  <div class="layui-input-block">
                    <input type="text" name="contractId" class="layui-input" lay-verify="required" lay-verType="tips" disabled>
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">合同名称</label>
                  <div class="layui-input-block">
                    <input type="text" name="contractName" class="layui-input" lay-verify="required" disabled>
                  </div>
                </div>
                <div class="layui-form-item layui-form-text">
                  <label class="layui-form-label">协议内容</label>
                  <div class="layui-input-block">
                    <textarea name="content" placeholder="如果需要自动生成补充协议文件，请在此输入协议内容" class="layui-textarea"></textarea>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- 补充协议文件 -->
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">补充合同文件</div>
            <div class="layui-card-body">
              <div class="layui-upload-drag" id="file-upload" style="min-height: 85px; min-width: 232px">
                <i class="layui-icon layui-icon-upload"></i>
                <p>请上传单个 doc, docx 或 pdf 文件</p>
                <div id="file-upload-progress" lay-filter="file-upload-progress"  class="layui-progress layui-hide" lay-showpercent="true" style="margin-top: 15px">
                  <div class="layui-progress-bar" lay-percent="0%"></div>
                </div>
              </div>
              <form id="template" class="layui-form" lay-filter="generation" style="margin-top: 10px;">
                <div class="layui-form-item">
                  <div class="layui-input-inline">
                    <div class="layui-form-item layui-hide">
                      <select name="templateId" lay-verify="required" lay-verType="tips">
                        <option value="">请选择合同生成模板</option>
                        <option value="0">模板1</option>
                        <option value="1">模板2</option>
                      </select>
                    </div>
                  </div>
                  <div class="layui-form-mid" style="padding: 0!important;">
                    <button id="generation-submit" type="button" class="layui-btn layui-btn-warm" lay-on="generation-submit">自动生成</button>
                  </div>
                </div>
              </form>
              <button type="button" id="file-upload-submit" class="layui-btn" lay-on="file-upload-submit">开始上传</button>
              <button type="button" id="preview-btn" class="layui-btn layui-hide" lay-on="preview">预览</button>
            </div>
          </div>
        </div>
        <!-- 补充协议附件 -->
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">补充协议附件</div>
            <div class="layui-card-body">
              <div class="layui-upload">
                <div class="layui-upload-list">
                  <table class="layui-table">
                    <colgroup>
                      <col>
                      <col style="width: 150px">
                      <col style="width: 260px">
                      <col style="width: 100px">
                      <col style="width: 200px">
                    </colgroup>
                    <thead>
                      <tr>
                        <th>文件名</th>
                        <th>大小</th>
                        <th>上传进度</th>
                        <th>状态</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody id="attachmentList"></tbody>
                  </table>
                </div>
                <button type="button" class="layui-btn layui-btn-normal" id="attachment-upload-select">选择文件</button>
                <button type="button" class="layui-btn" id="attachment-upload-submit">上传</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部区域占位 -->
    <div class="footer"></div>
    <footer class="footer">
      <button id="editSubmit" class="layui-btn layui-btn-radius" style="margin-left: 30px">保存</button>
    </footer>
    <!-- PDF预览 -->
    <object id="pdf-preview" class="layui-hide" type="application/pdf" width="100%" height="99%"></object>
    <!-- JS部分 -->
    <script>
      // 初始化layui
      let layer, util, upload, element, form, $;
      layui.use(['form', 'util', 'upload', 'element'], function(){
        layer = layui.layer;
        util = layui.util;
        upload = layui.upload;
        element = layui.element;
        form = layui.form;
        $ = layui.$;

        // 补充协议文件上传
        upload.render({
          elem: '#file-upload',
          accept: 'file',
          exts: 'doc|docx|pdf',
          url: '/supplement/upload/supplement',
          auto: false,
          bindAction: "#file-upload-submit",
          headers: {
            [$("meta[name='_csrf_header']").attr("content")]: $("meta[name='_csrf']").attr("content")
          },
          data: {
            "supplementId": function(){
              return form.val("edit").id
            }
          },
          choose: function(obj){
            element.progress('file-upload-progress', 0+"%");
            $('#file-upload-progress').removeClass('layui-hide');
            obj.preview(function(index, file, result){
              if (file.type === "application/pdf"){
                $('#pdf-preview').attr('data', result);
                $('#preview-btn').removeClass('layui-hide');
                layer.msg("可直接预览此文件")
              }else{
                $('#preview-btn').addClass('layui-hide');
                layer.msg("上传后可预览此文件")
              }
            });
          },
          done: function(res){
            if (res.ok){
              $('#pdf-preview').attr('data', res.payload.file);
              $('#preview-btn').removeClass('layui-hide');
            }
            layer.msg(res.message);
          },
          progress: function(n){
            element.progress('file-upload-progress', n + '%');
          }
        });

        // 补充协议附件上传
        let uploadListIns = upload.render({
          elem: '#attachment-upload-select',
          elemList: $('#attachmentList'),
          accept: 'file',
          url: '/supplement/upload/attachment',
          auto: false,
          bindAction: "#attachment-upload-submit",
          multiple: true,
          headers: {
            [$("meta[name='_csrf_header']").attr("content")]: $("meta[name='_csrf']").attr("content")
          },
          data: {
            "supplementId": function(){
              return form.val("edit").id
            }
          },
          choose: function(obj){
            let that = this;
            // 将每次选择的文件追加到文件队列
            let files = this.files = obj.pushFile();
            // 读取本地文件
            obj.preview(function(index, file){
              let tr = $([
                '<tr id="upload-'+ index +'">',
                  '<td class="attachment-name">'+ file.name +'</td>',
                  '<td>'+ (file.size/1024/1024).toFixed(2) +'MB</td>',
                  '<td>',
                    '<div class="layui-progress" lay-filter="progress-attachment-'+ index +'">',
                      '<div class="layui-progress-bar" lay-percent=""></div>',
                    '</div>',
                  '</td>',
                  '<td class="attachment-status">等待上传</td>',
                  '<td>',
                    '<button class="layui-btn layui-btn-xs attachment-reload layui-hide">重传</button>',
                    '<button class="layui-btn layui-btn-xs layui-btn-danger attachment-delete">删除</button>',
                    '<button class="layui-btn layui-btn-xs attachment-download">下载</button>',
                  '</td>',
                '</tr>'
              ].join(''));
              // 单个重传
              tr.find('.attachment-reload').on('click', function(){
                // 更改状态
                tr.find('.attachment-status').attr("style", "")
                tr.find('.attachment-status').text("正在上传")
                obj.upload(index, file);
              });
              // 删除
              tr.find('.attachment-delete').on('click', function(){
                // 删除对应的文件
                delete files[index];
                // 移除行
                tr.remove();
                // 清空 input file 值，以免删除后出现同名文件不可选
                uploadListIns.config.elem.next()[0].value = '';
              });
              // 如果不存在此行再进行渲染
              if(!$('#upload-'+ index).length){
                that.elemList.append(tr);
              }
              // 渲染新加的进度条组件
              element.render('progress'); 
            });
          },
          // 上传完成回调
          done: function(res, index, upload){
            let that = this;
            // 上传成功
            if(res.code !== 0){
              let tr = that.elemList.find('tr#upload-'+ index);
              // 重新绑定删除事件
              tr.find('.attachment-delete').unbind("click");
              tr.find('.attachment-delete').on('click', function(){
                // 发送请求
                $.ajax('/supplement/delete/attachment', {
                  method: 'POST',
                  data: {
                    "attachmentId": function(){
                      return res.payload.ids[0]
                    }
                  },
                  beforeSend: function(request){
                    // CSRF Token 请求头
                    let header = $("meta[name='_csrf_header']").attr("content");
                    let token = $("meta[name='_csrf']").attr("content");
                    request.setRequestHeader(header, token);
                  },
                  success: function(data){
                    if (data.ok){
                      // 移除行
                      tr.remove();
                    }
                    layer.msg(data.message);
                  },
                  error: function(data){
                    layer.msg("请求出错:" + data.responseText);
                  }
                });
              });
              // 下载
              tr.find('.attachment-download').on('click', function(){
                // 提示
                layer.msg("已请求下载指定的文件，请稍后");
                // 使用浏览器下载
                let link = document.createElement('a')
                link.style.display = 'none'
                link.href = "/supplement/download/attachment/" + res.payload.ids[0]
                link.setAttribute("download", file.name)
                document.body.appendChild(link)
                link.click()
                document.body.removeChild(link)
              });
              // 更改状态
              tr.find('.attachment-status').attr("style", "color:green");
              tr.find('.attachment-status').text("上传成功");
              // 隐藏重传
              tr.children().find('.attachment-reload').addClass('layui-hide');
              // 显示下载
              tr.children().find('.attachment-download').removeClass('layui-hide');
              // 删除文件队列已经上传成功的文件
              delete this.files[index];
              return;
            }
            this.error(index, upload);
          },
          // 上传错误回调
          error: function(index){
            let that = this;
            let tr = that.elemList.find('tr#upload-'+ index);
            // 更改状态
            tr.find('.attachment-status').attr("style", "color:red");
            tr.find('.attachment-status').text("上传失败");
            // 显示重传
            tr.children().find('.attachment-reload').removeClass('layui-hide');
          },
          // 上传进度条渲染
          progress: function(n, elem, e, index){
            element.progress('progress-attachment-'+ index, n + '%');
          }
        });

        // 按钮点击事件
        util.on('lay-on', {
          // 预览合同文件
          "preview": function(){
            layer.open({
              type: 1,
              title: '补充协议文件预览',
              shadeClose: true,
              maxmin: true,
              area:['80%', '80%'],
              content: $('#pdf-preview'),
              success: function(){
                $('#pdf-preview').removeClass('layui-hide');
              },
              cancel: function(index){
                layer.close(index)
                $('#pdf-preview').addClass('layui-hide');
              }
            });
          },

          // 创建补充协议生成请求
          "generation-submit": function(){
            if(form.validate("#base-info")/* && form.validate("#template")*/){
              let supplementInfo = form.val("modifysupplement")
              if(supplementInfo.content === ""){
                layer.msg('请填写补充协议内容');
                return
              }
              // 发送请求
              $.ajax('/supplement/generate', {
                method: 'POST',
                data: Object.assign(form.val("edit"), form.val("generation")),
                beforeSend: function(request){
                  // CSRF Token 请求头
                  let header = $("meta[name='_csrf_header']").attr("content");
                  let token = $("meta[name='_csrf']").attr("content");
                  request.setRequestHeader(header, token);
                },
                success: function(data){
                  if(data.ok){
                    $('#pdf-preview').attr('data', data.payload.file);
                    $('#preview-btn').removeClass('layui-hide');
                  }
                  layer.msg(data.message);
                },
                error: function(data){
                  layer.msg("请求出错:" + data.responseJSON.message);
                }
              });
            }
          }
        });

        // 提交表单
        $('#editSubmit').on('click', function(){
          form.submit('edit', function(data){
            // 发送请求
            $.ajax('/supplement/edit/submit', {
              method: 'POST',
              data: data.field,
              beforeSend: function(request){
                // CSRF Token 请求头
                let header = $("meta[name='_csrf_header']").attr("content");
                let token = $("meta[name='_csrf']").attr("content");
                request.setRequestHeader(header, token);
                // 禁用按钮，防止重复提交
                $("#editSubmit").attr({ disabled: true });
              },
              success: function(data){
                parent.layer.msg(data.message);
                if(data.ok){
                  parent.reloadTable();
                  parent.layer.closeAll('iframe');
                }
              },
              error: function(data){
                layer.msg("请求出错:" + data.responseJSON.message);
              },
              complete: function (){
                $("#editSubmit").attr({ disabled: false })
              }
            });
          });
          return false;
        });
      });

      // 接受数据并赋值表单
      var setValue = function(data){
        // 补充协议基本信息
        if (data.supplementDetails){
          let sd = data.supplementDetails;
          form.val("edit", {
            "id": sd.id,
            "name": sd.name,
            "contractId": sd.contractId,
            "contractName": sd.contractName,
            "status": sd.status,
          });
        }
        // 协议文件
        if(data.supplementFile){
          let f = data.supplementFile.file;
          if(f){
            $('#pdf-preview').attr('data', f);
            $('#preview-btn').removeClass('layui-hide');
          }
        }
        // 合同附件
        if(data.supplementAttachments){
          for(let file of data.supplementAttachments){
            let tr = $([
              '<tr>',
                '<td>'+ file.name +'</td>',
                '<td>'+ (file.size/1024/1024).toFixed(2) +'MB</td>',
                '<td> - </td>',
                '<td class="attachment-status" style="color:green">上传成功</td>',
                '<td>',
                  '<button class="layui-btn layui-btn-xs attachment-reload layui-hide">重传</button>',
                  '<button class="layui-btn layui-btn-xs layui-btn-danger attachment-delete">删除</button>',
                  '<button class="layui-btn layui-btn-xs attachment-download">下载</button>',
                '</td>',
              '</tr>'
            ].join(''));
            // 删除
            tr.find('.attachment-delete').on('click', function(){
              // 发送请求
              $.ajax('/supplement/delete/attachment', {
                method: 'POST',
                data: {
                  "attachmentId": function(){
                    return file.id
                  }
                },
                beforeSend: function(request){
                  // CSRF Token 请求头
                  let header = $("meta[name='_csrf_header']").attr("content");
                  let token = $("meta[name='_csrf']").attr("content");
                  request.setRequestHeader(header, token);
                },
                success: function(data){
                  if (data.ok){
                    tr.remove()
                  }
                  layer.msg(data.message);
                },
                error: function(data){
                  layer.msg("请求出错:" + data.responseText);
                }
              });
            });
            // 下载
            tr.find('.attachment-download').on('click', function(){
              // 提示
              layer.msg("已请求下载指定的文件，请稍后");
              // 使用浏览器下载
              let link = document.createElement('a')
              link.style.display = 'none'
              link.href = "/supplement/download/attachment/" + file.id
              link.setAttribute("download", file.name)
              document.body.appendChild(link)
              link.click()
              document.body.removeChild(link)
            });
            // 渲染
            $('#attachmentList').append(tr);
          }
        }
      }
    </script>
  </body>
</html>
