<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>上传补充协议扫描版</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!--link rel="stylesheet" th:href="@{/layui/css/layui.css}" /-->
    <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.7.6/css/layui.css"/>
    <style>
      footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: white;
        padding-top: 10px;
      }
      .footer {
        height: 45px;
      }
      div.footer{
        padding-bottom: 15px;
      }
    </style>
    <!--script th:src="@{/layui/layui.js}"></script-->
    <script src="https://www.layuicdn.com/layui-v2.7.6/layui.js"></script>
  </head>
  <body>
    <div class="panel-body layui-bg-gray" style="padding: 0 30px;">
      <div class="layui-row layui-col-space15">
        <!-- 合同基本信息 -->
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">补充协议基本信息</div>
            <div class="layui-card-body">
              <form class="layui-form layui-form-pane" lay-filter="scan">
                <div class="layui-form-item">
                  <label class="layui-form-label">协议ID</label>
                  <div class="layui-input-block">
                    <input type="text" name="id" class="layui-input" lay-verify="required" disabled>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- 补充协议扫描版 -->
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">补充协议扫描版</div>
            <div class="layui-card-body">
              <div class="layui-upload-drag" id="file-upload" style="min-height: 85px; min-width: 232px">
                <i class="layui-icon layui-icon-upload"></i>
                <p>请上传单个 pdf 文件</p>
                <div id="file-upload-progress" lay-filter="file-upload-progress" class="layui-progress layui-hide" lay-showpercent="true" style="margin-top: 15px">
                  <div class="layui-progress-bar" lay-percent="0%"></div>
                </div>
              </div>
              <br>
              <br>
              <button type="button" id="file-upload-submit" class="layui-btn" lay-on="file-upload-submit">开始上传</button>
              <button type="button" id="preview-btn" class="layui-btn layui-hide" lay-on="preview">预览</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部区域占位 -->
    <div class="footer"></div>
    <footer class="footer">
      <button id="scanSubmit" class="layui-btn layui-btn-radius" style="margin-left: 30px">确认提交扫描版</button>
    </footer>
    <!-- PDF预览 -->
    <object id="pdf-preview" class="layui-hide" type="application/pdf" width="100%" height="99%"></object>
    <!-- JS部分 -->
    <script>
      // 初始化layui
      let layer, util, upload, element, form, $;
      layui.use(['form', 'util', 'upload', 'element'], function(){
        layer = layui.layer;
        util = layui.util;
        upload = layui.upload;
        element = layui.element;
        form = layui.form;
        $ = layui.$;

        // 补充协议文件上传
        upload.render({
          elem: '#file-upload',
          accept: 'file',
          exts: 'pdf',
          url: '/supplement/upload/scan',
          auto: false,
          bindAction: "#file-upload-submit",
          headers: {
            [$("meta[name='_csrf_header']").attr("content")]: $("meta[name='_csrf']").attr("content")
          },
          data: {
            "supplementId": function(){
              return form.val("scan").id
            }
          },
          choose: function(obj){
            element.progress('file-upload-progress', 0+"%");
            $('#file-upload-progress').removeClass('layui-hide');
            obj.preview(function(index, file, result){
              $('#pdf-preview').attr('data', result);
              $('#preview-btn').removeClass('layui-hide');
              layer.msg("可直接预览此文件")
            });
          },
          done: function(res){
            layer.msg(res.message);
          },
          progress: function(n){
            element.progress('file-upload-progress', n + '%');
          }
        });

        // 按钮点击事件
        util.on('lay-on', {
          // 预览扫描版补充协议文件
          "preview": function(){
            layer.open({
              type: 1,
              title: '补充协议扫描版预览',
              shadeClose: true,
              maxmin: true,
              area:['80%', '80%'],
              content: $('#pdf-preview'),
              success: function(){
                $('#pdf-preview').removeClass('layui-hide');
              },
              cancel: function(index){
                layer.close(index)
                $('#pdf-preview').addClass('layui-hide');
              }
            });
          },
        });

        // 提交备案
        $('#scanSubmit').on('click', function(){
          // 发送请求
          $.ajax('/supplement/scan/submit', {
            method: 'POST',
            data: {
              "id": function () {
                return form.val("scan").id
              }
            },
            beforeSend: function(request){
              // CSRF Token 请求头
              let header = $("meta[name='_csrf_header']").attr("content");
              let token = $("meta[name='_csrf']").attr("content");
              request.setRequestHeader(header, token);
              // 禁用按钮，防止重复提交
              $("#scanSubmit").attr({ disabled: true });
            },
            success: function(data){
              parent.layer.msg(data.message);
              if(data.ok){
                parent.reloadTable();
                parent.layer.closeAll('iframe');
              }
            },
            error: function(data){
              layer.msg("请求出错:" + data.responseJSON.message);
            },
            complete: function (){
              $("#scanSubmit").attr({ disabled: false })
            }
          });
          return false;
        });
      });

      // 接受数据并赋值表单
      var setValue = function(data){
        // 补充协议基本信息
        if (data.supplementDetails){
          let sd = data.supplementDetails;
          form.val("scan", {
            "id": sd.id
          });
        }
        // 正式补充协议扫描版
        if(data.supplementScanFile){
          let f = data.supplementScanFile.file;
          if(f){
            $('#pdf-preview').attr('data', f);
            $('#preview-btn').removeClass('layui-hide');
          }
        }
      }
    </script>
  </body>
</html>
